{% extends 'shop/base.html' %}
{% load static %}
{% load mathfilters %}
{% block body %}

<style>

    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



</style>



<div class="d-flex my-4" id="wrapper">

  <!-- Sidebar -->
  {% include 'shop/sidebar.html' %}
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  
  <div id="page-content-wrapper" class="col">

    
      
      
      
         <div class="card text-center">
            {% for j in cats %}
        <div class="card-header">

          <a href="{% url 'products' j %}"><h3>{{j}}  <span><button class="btn btn-warning">View all</button></span></h3></a>
        </div>
       
     
      <div class="my-8">
        
      
          <div class="row ">
      
            {% for i in products %}
           
           
        <div class="col-sm-3">
           
          <div class="card">
            
            <div class="card-body">
               
              
              <a href=""><img src="/media/{{i.image}}" class="img-fluid w-50 center"> <h4><span class="badge badge-success"> {{i.sp|mul:100|intdiv:i.mrp}}% off</span></h4>
      
                <h5 class="card-title">{{ i.name }}</h5></a>
              <p class="card-text"> <b>Price: Rs </b><span style="text-decoration:line-through; ">  {{i.mrp}}</span> <b>{{i.sp}}</b></p>
             
              <div id="add_to_cart{{i.p_id}}"><a class="btn btn-warning add_to_cart" data-target="{{i.p_id}}">Add to cart</a></div>
            
              <button id='{{i.p_id}}minus' class='btn btn-danger minus' style="display: none;" data-target="{{i.p_id}}" onclick="reduce_cart({{i.p_id}})">-</button> <span id='cartvalue{{i.p_id}}' style="display: none;"> 0 </span> <button id='{{i.p_id}}plus' class='btn btn-success plus ' style="display: none;" onclick="increase_cart({{i.p_id}})"> + </button>
             
            </div>
          </div>
          
        </div>
       
        {% endfor %}
             
      </div>
      
          </div>
          
          {%  endfor %}
      </div>
      
    </div>
    
</div>


{% endblock %}

{% block js %}

<script>

   
   
 
  
    $(document).ready(function(){
      update_cart()     
  
  
      $('.add_to_cart').on('click', function(){
        id = $(this).attr('data-target')
        document.getElementById('add_to_cart'+id).style.display = 'none';
        document.getElementById(id+'plus').style.display = 'inline';
        document.getElementById(id+'minus').style.display = 'inline';
        document.getElementById('cartvalue'+id).style.display = 'inline';
        
        
       
       $.ajax({
        type:'GET',
        url:'{% url 'add_to_cart' %}',
        data:{'p_id':id},
        success:function(data){
          
         $('#cartvalue'+id).text(data);
         update_cart()
        }
              
       })
    
      })
     
    });
  
  
   
  
  
    function reduce_cart(id){
      $.ajax({
        type:'GET',
        url:'{% url 'reduce_cart' %}',
        data:{'p_id':id},
        success:function(data){
         if(data >0)
         {
          $('#cartvalue'+id).text(data);
         }
          else
          {
  
          document.getElementById('add_to_cart'+id).style.display = 'inline';
          document.getElementById(id+'plus').style.display = 'none';
          document.getElementById(id+'minus').style.display = 'none';
          document.getElementById('cartvalue'+id).style.display = 'none';
          
            }
            update_cart()
         }
        
  
         
        
        
        
              
       })
       
    }
  
    function increase_cart(id){
  
  
      $.ajax({
        type:'GET',
        url:'{% url 'increase_cart' %}',
        data:{'p_id':id},
        success:function(data){
  
        
         $('#cartvalue'+id).text(data);
         update_cart()
        }
              
       })
        }
  function update_cart(){
  
  $.ajax({
    type:'GET',
    url:'{% url 'update_cart' %}',
    success:function(data){
      console.log('data')
      console.log(data)
     $('#cart').text(data);
    }
  
  })
  }
  
  
  function show_edit(p_id)
  {
    document.getElementById(p_id+'minus').style.display = 'inline';
    document.getElementById(p_id+'plus').style.display = 'inline';
    document.getElementById('cartvalue'+p_id).style.display = 'inline';
    document.getElementById('editbtn'+p_id).style.display = 'None';
    document.getElementById('donebtn'+p_id).style.display = 'inline';
  
    $.ajax({
  
    type:'GET',
    url:'{% url 'show_quantity_cart' %}',
    data:{'p_id':p_id},
    success:function(data){
      console.log('data')
      console.log(data)
      if(data >=0)
      {
     $('#cartvalue'+p_id).text(data);
      }
    }
  
  })
  
  }
  
  
  
  function done_edit(p_id)
  {
    document.getElementById(p_id+'minus').style.display = 'None';
    document.getElementById(p_id+'plus').style.display = 'None';
    document.getElementById('cartvalue'+p_id).style.display = 'None';
    document.getElementById('editbtn'+p_id).style.display = 'inline';
    document.getElementById('donebtn'+p_id).style.display = 'None';
  
    $.ajax({
  
    type:'GET',
    url:'{% url 'show_quantity_cart' %}',
    data:{'p_id':p_id},
    success:function(data){
      console.log('data')
      console.log(data)
      if(data >=0)
      {
     
     document.getElementById('editbtn'+p_id).innerText=data;  
     
       }
       update_cart()
    }
  
  })
  
  }
  
  
  
  
  
  
  function remove(p_id)
  {
    console.log(p_id) 
    $.ajax({
  
    type:'GET',
    url:'{% url 'remove_product' %}',
    data:{'p_id':p_id},
    success:function(data){
      console.log(data)
      update_cart()
      window.location['reload']()
    }
  
  })
  
  }
  
  
  
  function empty_cart()
  {
    
    $.ajax({
  
    type:'GET',
    url:'{% url 'empty_cart' %}',
    success:function(){
      update_cart()
      window.location['reload']()
    }
  
  })
  
  }
  
  
  
  
     
  </script>

{% endblock %}


