{% extends 'shop/base.html' %}
{% load static %}
{% load mathfilters %}
{% load index %}



{% block body %}




<div class="d-flex my-4" id="wrapper">

    <!-- Sidebar -->
    {% include 'shop/sidebar.html' %}
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper" class="col">
  

<div class="container my-4">
    <h3>My Orders</h3>
<table class="table">
    <thead class="">
      <tr>
        <th scope="col">OrderId</th>
        <th scope="col">Date</th>
        <th scope="col">Items</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for order, items in items.items %}
      <tr>
         <th scope="row"><a href='{% url "order_detail" order.o_id %}' class="btn btn-primary">{{order.o_id}}</a></th>
        <td>{{order.order_date}}</td>
        <td>{{items|index:0}}.....</td>
        <td>{{order.grand_total}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>



{% endblock %}


{% block js %}


<script>

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });

    

</script>    

{% endblock %}