{% extends 'shop/base.html' %}
{% load subtract %}

{% block body %}


<style>
.img-product{
    height:400px;
    width:400px;
}
</style>

<div class="d-flex my-4" id="wrapper">

    <!-- Sidebar -->
    {% include 'shop/Sidebar.html' %}
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper" class="col">


<div class="container row my-4">
<div class="col">
<img src="/media/{{product.image}}" class="img-product">
</div>

<div class="col">
    <h2>{{product.name}}</h2>
    
    <p><b>List Price: Rs <span style="text-decoration: line-through;">{{product.mrp}}</span></b></p>
    <p><b>Price: Rs {{product.sp}}</b></p>
    <p><b>You save: Rs {{product.mrp|subtract:product.sp}}</b></p>
    <div>{{product.desc}}</div>
    <div class="my-4">
    <span class="mx-4">
        
        <button id="add_to_cart{{product.p_id}}" class="btn btn-warning add_to_cart"   data-target="{{product.p_id}}">Add to cart</button>
    
        <button id='{{product.p_id}}minus' class='btn btn-danger minus' style="display: none;" data-target="{{product.p_id}}" onclick="reduce_cart({{product.p_id}})">-</button> <span id='cartvalue{{product.p_id}}' style="display: none;"> 0 </span> <button id='{{product.p_id}}plus' class='btn btn-success plus ' style="display: none;" onclick="increase_cart({{product.p_id}})"> + </button>
    </span>
        <a href="{% url 'cart' %}"><button class="btn btn-success">Go to cart</button></a>
    </div>
</div>

</div>
</div>
</div>

{% endblock %}



{% block js %}

<script>
 $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
 
  
    $(document).ready(function(){
      update_cart()     
        var tmp = {{request.session.cart.product.p_id}}
        console.log(tmp)
  
      $('.add_to_cart').on('click', function(){
        id = $(this).attr('data-target')
        console.log(id)
        document.getElementById('add_to_cart'+id).style.display = 'none';
        document.getElementById(id+'plus').style.display = 'inline';
        document.getElementById(id+'minus').style.display = 'inline';
        document.getElementById('cartvalue'+id).style.display = 'inline';
        
        
       
       $.ajax({
        type:'GET',
        url:'{% url 'add_to_cart' %}',
        data:{'p_id':id},
        success:function(data){
          
         $('#cartvalue'+id).text(data);
         update_cart()
        }
              
       })
    
      })
     
    });
  
  
   
  
  
    function reduce_cart(id){
      $.ajax({
        type:'GET',
        url:'{% url 'reduce_cart' %}',
        data:{'p_id':id},
        success:function(data){
         if(data >0)
         {
          $('#cartvalue'+id).text(data);
         }
          else
          {
  
          document.getElementById('add_to_cart'+id).style.display = 'inline';
          document.getElementById(id+'plus').style.display = 'none';
          document.getElementById(id+'minus').style.display = 'none';
          document.getElementById('cartvalue'+id).style.display = 'none';
          
            }
            update_cart()
         }
        
  
         
        
        
        
              
       })
       
    }
  
    function increase_cart(id){
  
  
      $.ajax({
        type:'GET',
        url:'{% url 'increase_cart' %}',
        data:{'p_id':id},
        success:function(data){
  
        
         $('#cartvalue'+id).text(data);
         update_cart()
        }
              
       })
        }
  function update_cart(){
  
  $.ajax({
    type:'GET',
    url:'{% url 'update_cart' %}',
    success:function(data){
      console.log('data')
      console.log(data)
     $('#cart').text(data);
     
    }
    
  })
  }
  
  
  function show_edit(p_id)
  {
    document.getElementById(p_id+'minus').style.display = 'inline';
    document.getElementById(p_id+'plus').style.display = 'inline';
    document.getElementById('cartvalue'+p_id).style.display = 'inline';
    document.getElementById('editbtn'+p_id).style.display = 'None';
    document.getElementById('donebtn'+p_id).style.display = 'inline';
  
    $.ajax({
  
    type:'GET',
    url:'{% url 'show_quantity_cart' %}',
    data:{'p_id':p_id},
    success:function(data){
      console.log('data')
      console.log(data)
      if(data >=0)
      {
     $('#cartvalue'+p_id).text(data);
      }
    }
  
  })
  
  }
  
  
  
  function done_edit(p_id)
  {
    document.getElementById(p_id+'minus').style.display = 'None';
    document.getElementById(p_id+'plus').style.display = 'None';
    document.getElementById('cartvalue'+p_id).style.display = 'None';
    document.getElementById('editbtn'+p_id).style.display = 'inline';
    document.getElementById('donebtn'+p_id).style.display = 'None';
  
    $.ajax({
  
    type:'GET',
    url:'{% url 'show_quantity_cart' %}',
    data:{'p_id':p_id},
    success:function(data){
      console.log('data')
      console.log(data)
      if(data >=0)
      {
     
     document.getElementById('editbtn'+p_id).innerText=data;  
     
       }
       update_cart()
    }
  
  })
  
  }
  
  
  
  
  
  
  function remove(p_id)
  {
    console.log(p_id) 
    $.ajax({
  
    type:'GET',
    url:'{% url 'remove_product' %}',
    data:{'p_id':p_id},
    success:function(data){
      console.log(data)
      update_cart()
      window.location['reload']()
    }
  
  })
  
  }
  
  
  
  function empty_cart()
  {
    
    $.ajax({
  
    type:'GET',
    url:'{% url 'empty_cart' %}',
    success:function(){
      update_cart()
      window.location['reload']()
    }
  
  })
  
  }
  
  
  
  
     
  </script>

{% endblock %}